* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
}

.car,
.enemy {
    width: 50px;
    height: 100px;
    background: transparent url('../image/player.png') center / cover no-repeat;
    position: absolute;
}

.game-area {
    width: 300px;
    height: 100vh;
    position: relative;
    margin: auto;
    background: #222222;
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.complexity-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.start,
.score {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    background-color: #000000;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 900;
    cursor: pointer;
    z-index: 205;
}

.score {
    z-index: 199;
}

.complexity {
    width: 33%;
    display: block;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 900;
    background-color: #000000;
    cursor: pointer;
    z-index: 200;
}

.medium {
    left: 33%;
}

.hard {
    left: 63%;
}

.hide {
    display: none;
}

.show {
    display: block;
}